
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span5 offset3 smurfy text-left">

		<h1 class="custom-h1">
		Rentify.
		</h1>

		<h2>
		Apartments made simple.
		</h2>
		<br/>
		<%=   link_to 'Find apartments', '/pics', :class =>'btn btn-warning btn-large pull-left'%>
		<%=   link_to 'Rent out', 'http://www.google.com', :class =>'btn btn-danger btn-large pull-right'%>
</div>