
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span6 offset3 smurfy">

		<h1 class="custom-h1">
		Rentify.
		</h1>

		<h2>
		Apartments made simple.
		</h2>
		<br/>
		<%=   link_to 'Sign up', '#', :class =>'btn btn-warning btn-large pull-right'%>

</div>