
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="smurfy center_box">
		<br/>
		<h1 class="custom-h1">
		Rentify.
		</h1>

		<h2>
		Apartments made simple.
		</h2>
		<br/>
		<%=   link_to pics_path, :class =>'btn btn-warning btn-large pull-left' do %>
		<i class="icon-search"> Find apartments</i>
		<% end %>

		<%=   link_to 'Rent Out', new_pic_path, :class =>'btn btn-danger btn-large pull-right'%>
		<div class="clr"></div>
</div>